* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}
a {
  visibility: hidden;
  color: rgb(137, 184, 224);
}
body {
  background-color: black;
  padding: 0 40px;

  .container {
    display: flex;
    gap: 3px;
    height: 100vh;
    div {
      position: relative;
      width: 25%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        transition: transform 0.2s;
      }
      .image-info {
        height: auto;
        color: white;
        width: 25vw;
        font-size: 13px;
        position: absolute;
        padding: 0 30px;
        top: calc(100vh - 100px);
        bottom: 0;
        h1 {
          font-family: "DIN Condensed", sans-serif;
          font-weight: 700;

          line-height: 28px;
        }
        span {
          display: inline-block;
          color: rgb(199, 197, 197);
          margin: 15px 0;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  body {
    padding: 0 5px;
    .container {
      div {
        text-align: center;
        img {
          object-fit: cover;
        }
        .image-info {
          display: none;
        }
      }
    }
  }
}
